.loading-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 3px solid var(--bg-color);
  border-radius: 50%;
  animation: loading 1s linear infinite;
  margin-right: 8px;
  vertical-align: middle;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}