@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #fcfcfc;
  --primary-color: #007bff;
  --primary-color-hover: rgba(59, 74, 90, 0.8);
  --text-color: #242424;
  --secondary-text-color: #545f71;

  --warning-bg: #ffe0db;
  --warning-text: #ff3e1d;
  --success-bg: #e8f9df;
  --success-text: #71dd37;

  /* Status colors */
  --archived: #e7e8ec;
  --archiveda-text: #132144;
  --deployed: #007bff33;
  --deployed-text: #007bff;
  --undeployable: #ff3b3033;
  --undeployable-text: #cc2f26;
  --pending: #ff950033;
  --pending-text: #ff9500;
  --deployable: #34c75933;
  --deployable-text: #34c759;  
}

html, body {
  height: 100%;
  overflow: hidden; 
  color: var(--text-color);
}

body {
  font-family: 'Poppins', sans-serif;
}

input,
select,
textarea,
button,
label,
option {
  font-family: 'Poppins', sans-serif;
}

label span.required {
  color: red;
  margin-left: 2px;
}

/* Global checkbox styling to remove the three dots */
/* input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  width: 16px;
  height: 16px;
  border: 1px solid #E5E7EB;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
} */