@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #fcfcfc;
  --primary-color: #007bff;
  --primary-color-hover: rgba(0, 123, 255, 0.8);
  --text-color: #242424;
  --secondary-text-color: #545f71;

  --warning-bg: #ffe0db;
  --warning-text: #ff3e1d;
  --success-bg: #e8f9df;
  --success-text: #71dd37;

  /* Ticket Status Colors */
  --submitted-text: #64748B;
  --submitted-bg: rgba(100, 116, 139, 0.25);

  --pending-text: #64748B; 
  --pending-bg: rgba(250, 204, 21, 0.25);

  --open-text: #0EA5E9;
  --open-bg: rgba(14, 165, 233, 0.25);

  --onprogress-text: #6366F1;
  --onprogress-bg: rgba(99, 102, 241, 0.25);

  --onhold-text: #FB923C;
  --onhold-bg: rgba(251, 146, 60, 0.25);

  --resolved-text: #10B981;
  --resolved-bg: rgba(16, 185, 129, 0.25);

  --closed-text: #6B7280;
  --closed-bg: rgba(107, 114, 128, 0.25);

  --rejected-text: #AC0000;
  --rejected-bg: rgba(172, 0, 0, 0.25);

  --withdrawn-text: #F43F5E;
  --withdrawn-bg: rgba(244, 63, 94, 0.25);

  /* Ticket Priority Levels */
  --priority-critical-text: #DC2626;
  --priority-critical-bg: rgba(220, 38, 38, 0.25);

  --priority-high-text: #F97316;
  --priority-high-bg: rgba(249, 115, 22, 0.25);

  --priority-medium-text: #64748B;
  --priority-medium-bg: rgba(234, 179, 8, 0.25);

  --priority-low-text: #3B82F6;
  --priority-low-bg: rgba(59, 130, 246, 0.25);
}

html, body {
  height: 100%;
  overflow: hidden;
  color: var(--text-color);
}

body {
  font-family: 'Poppins', sans-serif;
}

input,
select,
textarea,
button,
label,
option {
  font-family: 'Poppins', sans-serif;
}

label span.required {
  color: red;
  margin-left: 2px;
}
